@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --font-family-sans: 'Inter', system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-sans);
  background-color: #f8fafc;
  color: #0f172a;
}